@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --light-paleblue: #CBE4DE;
    --dark-sea:#2E4F4F;
    --minty: #97DECE;
    --light-pista: #EDF1D6;
    --pista: #9DC08B;
    --ani-grass: #5F8D4E;
    --dark-grass:#40513B;
}


article{
    position: relative;
}
