.projects{
    width: 100%;
    margin: auto;
    padding: 0rem 3rem;
}

.projects h1{
    color: #f5b921;
    font-size: 155%;
}

.projects-all{
    width: 100%;
    margin: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* background-color: red; */
}