.about {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 2rem;
}

.about--intro {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about--info {
    font-size: 120;
}

.about--info p {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 0.5rem;
}

.about-question{
    margin: 1rem 0rem;
}

.about--myImg {
    display: flex;
    align-items: center;
    width: 23%;
}

.about--myImg img {
    width: 100%;
    filter: grayscale(100%);
}

.about h1 {
    color: #f5b921;
    font-size: 200%;
}

.about--myskills {
    margin-top: 5rem;
    text-align: center;

}

.about--myskills h1 {
    font-size: 350%;
}

@media (max-width: 800px) {
    .about--intro {
        flex-direction: column;
        align-items: center;
    }

    .about--myImg {
        width: 50%;
        margin-top: 2rem;
    }
}