.about{
    /* display: flex; */
    max-width: 1200px;
    margin: auto;
}

.about--intro{
    display: flex;
}

.about--info{
    font-size: 100%;
}

.about--info p{
    color: #B5B5B5;
    font-size: 131.5%;
    line-height: 1.6;
    margin: 1.66rem 0rem;
    text-align: justify;
}

.about--myImg{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 10%;
}

.about--myImg img{
    width: 70%;
    filter: grayscale(100%);
}

.about h1{
    color: #f5b921;
    font-size: 350%;
}

.about--myskills{
    margin-top: 5rem;
}